<%- include('includes/head.ejs') %>
<header class="main-header"><%- include('includes/navigation.ejs') %></header>
<main>
  <h1>Page Not Found</h1>
</main>
<%- include('includes/footer.ejs') %> <%-include('includes/end.ejs')%>
